{% extends 'wedding/base.html' %}

{% load staticfiles %}

{% block css %}
  <link
    href="{% static 'wedding/css/gifts.css' %}"
    media="all"
    rel="stylesheet"
    type="text/css"
  >
{% endblock %}

{% block content %}
  <div class="loading-indicator text-center lead">
    Loading...
  </div>

  <div class="registry-container">
    <script
      id="script_myregistry_giftlist_iframe"
      type="text/javascript"
      src="http://www.myregistry.com/Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=acaidDtvfRZfsqepurNv0g2">
    </script>
  </div>
{% endblock %}
