{% extends 'wedding/base.html' %}

{% load staticfiles %}

{% block content %}
<h1>Location</h1>

<p class="lead">
  Skyfall Panoramic Hills
  <br>
  <a
    href="https://goo.gl/maps/7v8vpFUVHT12"
    target="_blank">1001 Panoramic Way, Berkeley</a>
</p>

<img src="{% static 'wedding/images/skyfall_grounds.jpg' %}" width="305px">

<h1>Getting here</h1>

<p class="lead">
  There's no parking available at the venue, so please plan to take Uber or
  Lyft. If you don't have Uber or Lyft yet, you can use these codes when you
  sign up and you'll get a free ride:
  <br>
  Uber: <strong>9tt11</strong>
  <br>
  Lyft: <strong>JOE1710</strong>
</p>
<p class="lead">
  The closest Bart station is the
  <a
    href="http://www.bart.gov/stations/dbrk"
    target="_blank">Downtown Berkeley Station</a>,
  14 minutes away from the venue.
</p>

<h1>Accommodations</h1>

<p class="lead">
  We reserved a block of rooms at the
  <strong>Oakland Marriott City Center</strong>.
  This hotel is conveniently located next to a
  <a href="http://www.bart.gov/stations/12th" target="_blank">BART station</a>
  for easy access to San Francisco.
</p>
<p class="lead">
  We managed to get a discounted rate of $139/night (plus tax).
  This discount is only available until April 29 so book now!
  <a
    href="https://resweb.passkey.com/go/AnguelovaBinneyWed"
    target="_blank">Make a reservation.</a>
</p>

<img src="{% static 'wedding/images/marriott_pool.jpg' %}" width="305px">
<img src="{% static 'wedding/images/marriott_room.jpg' %}" width="305px">

{% endblock %}
