{% extends 'wedding/base.html' %}

{% load staticfiles %}

{% block content %}
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Location</h1>

    <p class="lead">
      <a href="https://goo.gl/maps/7v8vpFUVHT12" target="_blank">
        Skyfall Panoramic Hills
        <br>
        1001 Panoramic Way, Berkeley
      </a>
    </p>

    <img
      class="img-responsive"
      src="{% static 'wedding/images/skyfall_grounds.jpg' %}"
    >

    <h2>Getting here</h2>

    <p class="lead">
      There's no parking available at the venue, so please plan to take Uber or
      Lyft. If you don't have Uber or Lyft yet, you can use this code for a free
      ride when you sign up:
      <br>
      Uber: <strong>9tt11</strong>
      <br>
      Lyft: <strong>JOE1710</strong>
    </p>
    <p class="lead">
      The closest BART station is the
      <a
        href="http://www.bart.gov/stations/dbrk"
        target="_blank">Downtown Berkeley Station</a>,
      14 minutes away from the venue.
    </p>

    <h2>Accommodations</h2>

    <p class="lead">
      We reserved a block of rooms at the
      <a
        href="https://resweb.passkey.com/go/AnguelovaBinneyWed"
        target="_blank">Marriott Oakland City Center</a>.
      This hotel is conveniently located next to a
      <a
        href="http://www.bart.gov/stations/12th"
        target="_blank">BART station</a>
      for easy access to San Francisco.
    </p>

    <p class="lead">
      We managed to get a discounted rate of $139/night (plus tax).
      This discount is only available until April 29th so book now!
    </p>

    <p class="lead">
      <a
        href="https://resweb.passkey.com/go/AnguelovaBinneyWed"
        target="_blank">Make a reservation</a>
    </p>

    <img
      class="img-responsive"
      src="{% static 'wedding/images/marriott.jpg' %}"
    >
  </div>
{% endblock %}
