{% extends 'wedding/base.html' %}

{% load staticfiles %}

{% block content %}
<h1>
  Skyfall Panoramic Hills
  <br>
  1001 Panoramic Way, Berkeley
</h1>
<br>
<img src="{% static 'wedding/images/skyfall_grounds.jpg' %}" width="100%">

<h1>Accommodations</h1>

<p class="lead">
  We reserved a block of rooms at the
  <strong>Oakland Marriott City Center</strong>.
  This hotel is conveniently located next to a
  <a href="http://www.bart.gov/stations/12th" target="_blank">BART station</a>
  for easy access to San Francisco.
</p>
<p class="lead">
  We managed to swing a discounted rate of $139/night (plus tax).
  This discount is only available until April 29 so book now!
  <a
    href="https://resweb.passkey.com/go/AnguelovaBinneyWed"
    target="_blank">Make a reservation</a>
</p>

<img src="{% static 'wedding/images/marriott_pool.jpg' %}" width="305px">
<img src="{% static 'wedding/images/marriott_room.jpg' %}" width="305px">

{% endblock %}
