{% extends 'wedding/base.html' %}

{% load staticfiles %}

{% block content %}
<h3>Hors D'oeuvres</h3>

<br>

<h4>Prosciutto Maki</h4>
Mixed greens, brie cheese, orange infused cranberries, citrus reduction

<h4>Parmesan P&acirc;te &agrave; Choux</h4>
Smoked salmon mousse, caper relish

<h4>Seared Foie Gras</h4>
Acme crostini, marinated cherry tomatoes in cherry and house mustard

<h4>Mushroom Duxelles</h4>
Puff pastry, fontina cheese

<br>
<br>

<h3>First Course</h3>

<br>

<h4>Mt Tam Arancini</h4>
Duck liver p&acirc;t&eacute;, watercress spiced walnutes, orange brandy gastrique

<br>
<br>

<h3>Main Course</h3>

<br>

<h4>Pepper Trio Seared Filet Mignon</h4>
Horseradish Full Belly Farms mashed potatoes, caramelized cipollini onions,
onion demi, butter roasted seasonal vegetables

<h4>Sugar and Sherry Glazed Maple Leaf Muscovy Duck</h4>
Pancetta and sage polenta, fried sage leaves, black sea salt, brown sugar and
sherry glaze

<h4>Seared Chilean Sea Bass</h4>
Pancetta corn pudding, braised rainbow chard, tomato jam

<h4>Pan Seared Gnocchi</h4>
Wilted greens, spiced pumpkin nage, shaved parmesan, toasted pumpkin seeds
{% endblock %}
