{% extends 'wedding/base.html' %}

{% load staticfiles %}

{% block content %}
  <h1 class="text-center">
    RSVP
  </h1>

  <div class="col-sm-6 col-sm-offset-3">
    <form action="{% url 'submit_rsvp' %}" method="post">
      {% csrf_token %}

      <div class="form-group {% if errors.name %}has-error{% endif %}">
        <label class="control-label" for="name_input">What's your name?</label>
        <input
          class="form-control"
          id="name_input"
          name="name"
          type="text"
        >
        {% if errors.name %}
          <span class="help-block">{{ errors.name }}</span>
        {% endif %}
      </div>

      <div class="form-group {% if errors.email %}has-error{% endif %}">
        <label class="control-label" for="email_input">
          What's your email address?
        </label>
        <input
          class="form-control"
          id="email_input"
          name="email"
          type="email"
        >
        {% if errors.email %}
          <span class="help-block">{{ errors.email }}</span>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="attending_radio_group">Will you be there?</label>
        <div id="attending_radio_group">
          <div class="radio">
            <label>
              <input type="radio" name="attending" value="True">
              Yes &#128112;&#127830;&#127863;&#128131;&#127864;
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="attending" value="False">
              No &#128575;
            </label>
          </div>
        </div>
      </div>

      <div class="hidden" id="required_if_attending">
        <div class="form-group">
          <label for="main_course_radio_group">
            What would you like for your main course?
            <a href="{% url 'menu' %}" target="_blank">(View Menu)</a>
          </label>
          <div id="main_course_radio_group">
            {% for value, description in MAIN_COURSE_CHOICES %}
              <div class="radio">
                <label>
                  <input type="radio" name="main_course" value="{{ value }}">
                  {{ description }}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="form-group">
          <label for="vegetarian_radio_group">Are you vegetarian?</label>
          <div id="vegetarian_radio_group">
            <div class="radio">
              <label>
                <input type="radio" name="is_vegetarian" value="True">
                Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="is_vegetarian" value="False">
                No
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="significant_other_radio_group">
            Are you coming with your significant other?
          </label>
          <div id="significant_other_radio_group">
            <div class="radio">
              <label>
                <input type="radio" name="has_significant_other" value="True">
                Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="has_significant_other" value="False">
                No
              </label>
            </div>
          </div>
        </div>

        <div class="hidden" id="required_if_has_significant_other">
          <div class="form-group">
            <label for="significant_other_name_input">
              What's your significant other's name?
            </label>
            <input
              class="form-control"
              id="significant_other_name_input"
              name="significant_other_name"
              type="text"
            >
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'wedding/js/rsvp.js' %}"></script>
{% endblock %}
