{% extends 'wedding/base.html' %}

{% load staticfiles %}

{% block content %}
  <h1 class="text-center">
    RSVP
  </h1>

  <div class="col-sm-6 col-sm-offset-3">
    <form action="{% url 'submit_rsvp' %}" method="post">
      {% csrf_token %}

      <div class="form-group {% if errors.name %}has-error{% endif %}">
        <label class="control-label" for="name_input">
          What's your name?
          {% if errors.name %}
            {{ errors.name|first }}
          {% endif %}
        </label>
        <input
          class="form-control"
          id="name_input"
          name="name"
          type="text"
          value="{{ data.name }}"
        >
      </div>

      <div class="form-group {% if errors.email %}has-error{% endif %}">
        <label class="control-label" for="email_input">
          What's your email address?
          {% if errors.email %}
            {{ errors.email|first }}
          {% endif %}
        </label>
        <input
          class="form-control"
          id="email_input"
          name="email"
          type="email"
          value="{{ data.email }}"
        >
      </div>

      <div class="form-group">
        <label class="control-label" for="attending_radio_group">
          Will you be there?
        </label>
        <div id="attending_radio_group">
          <div class="radio">
            <label>
              <input
                type="radio"
                name="attending"
                value="True"
                {% if data.attending %}checked{% endif %}
              >
              Yes &#128112;&#127830;&#127863;&#128131;&#127864;
            </label>
          </div>
          <div class="radio">
            <label>
              <input
                type="radio"
                name="attending"
                value="False"
                {% if data and not data.attending %}checked{% endif %}
              >
              No &#128575;
            </label>
          </div>
        </div>
      </div>

      <div class="hidden" id="required_if_attending">
        <div class="form-group {% if errors.main_course %}has-error{% endif %}">
          <label class="control-label" for="main_course_radio_group">
            What would you like for your main course?
            {% if errors.main_course %}
              {{ errors.main_course|first }}
            {% endif %}
            <a href="{% url 'menu' %}" target="_blank">(View Menu)</a>
          </label>
          <div id="main_course_radio_group">
            {% for value, description in MAIN_COURSE_CHOICES %}
              <div class="radio">
                <label>
                  <input
                    type="radio"
                    name="main_course"
                    value="{{ value }}"
                    {% if data.main_course == value %}checked{% endif %}
                  >
                  {{ description }}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="vegetarian_radio_group">
            Are you vegetarian?
          </label>
          <div id="vegetarian_radio_group">
            <div class="radio">
              <label>
                <input
                  type="radio"
                  name="is_vegetarian"
                  value="True"
                  {% if data.is_vegetarian %}checked{% endif %}
                >
                Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input
                  type="radio"
                  name="is_vegetarian"
                  value="False"
                  {% if data and not data.is_vegetarian %}checked{% endif %}
                >
                No
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="significant_other_radio_group">
            Are you coming with your significant other?
          </label>
          <div id="significant_other_radio_group">
            <div class="radio">
              <label>
                <input
                  type="radio"
                  name="has_significant_other"
                  value="True"
                  {% if data.has_significant_other %}checked{% endif %}
                >
                Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input
                  type="radio"
                  name="has_significant_other"
                  value="False"
                  {% if data and not data.has_significant_other %}
                    checked
                  {% endif %}
                >
                No
              </label>
            </div>
          </div>
        </div>

        <div class="hidden" id="required_if_has_significant_other">
          <div
            class="form-group
                   {% if errors.significant_other_name %}has-error{% endif %}">
            <label class="control-label" for="significant_other_name_input">
              What's your significant other's name?
              {% if errors.significant_other_name %}
                {{ errors.significant_other_name|first }}
              {% endif %}
            </label>
            <input
              class="form-control"
              id="significant_other_name_input"
              name="significant_other_name"
              type="text"
              value="{{ data.significant_other_name }}"
            >
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'wedding/js/rsvp.js' %}"></script>
{% endblock %}
