{% extends 'wedding/base.html' %}

{% load staticfiles %}

{% block content %}
<div class="text-center">
  <h1>Saturday May 28, 2016</h1>

  <h3>4:30 - Arrive</h3>
  <img src="{% static 'wedding/images/entrance.jpg' %}" width="500px">

  <h3>5:00 - Ceremony</h3>
  <img src="{% static 'wedding/images/ceremony.jpg' %}" width="500px">

  <h3>5:30 - Cocktail hour</h3>
  <img src="{% static 'wedding/images/garden.jpg' %}" width="500px">

  <h3>6:30 - Dinner</h3>
  <img src="{% static 'wedding/images/dinner.jpg' %}" width="500px">

  <h3>7:30 - Dessert &amp; dancing</h3>
  <img src="{% static 'wedding/images/party.jpg' %}" width="500px">
</div>

{% endblock %}
