{% extends 'wedding/base.html' %}

{% load staticfiles %}

{% block content %}
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <h1>Saturday May 28, 2016</h1>

    <br>
    <p class="lead">4:30pm - Arrive</p>
    <img
      class="img-responsive"
      src="{% static 'wedding/images/entrance.jpg' %}"
    >

    <br>
    <br>

    <p class="lead">5:00pm - Ceremony</p>
    <img
      class="img-responsive"
      src="{% static 'wedding/images/ceremony.jpg' %}"
    >

    <br>
    <br>

    <p class="lead">5:30pm - Cocktail hour</p>
    <img
      class="img-responsive"
      src="{% static 'wedding/images/garden.jpg' %}"
    >

    <br>
    <br>

    <p class="lead">6:30pm - Dinner</p>
    <img
      class="img-responsive"
      src="{% static 'wedding/images/dinner.jpg' %}"
    >

    <br>
    <br>

    <p class="lead">7:30pm - Dessert &amp; dancing</p>
    <img
      class="img-responsive"
      src="{% static 'wedding/images/party.jpg' %}"
    >

    <br>

  </div>
{% endblock %}
